.search-bar{
  margin:20px;
  text-align: center;
}

.search-bar input {
  max-width: 75%;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #dd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #ee;
}
